* {
    font-family: Arial;
    border: border-box;
    background-color: #A7DFDF;
}

.background {
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #EDFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.first-row {
    display: flex;
}

.navbar {
    width: 50px;
    height: 500px;
    background-color: #0FBDD5;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.DHT11 {
    border: 1px solid #B3E7E7;
    margin-top: 20px;
    margin-left: 20px;
    height: 140px;
    width: 310px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text1 {
    display: flex;
    margin-left: 40px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.SoilMoisture {
    border: 1px solid #B3E7E7;
    margin-top: 20px;
    margin-left: 20px;
    height: 140px;
    width: 200px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text2 {
    display: flex;
    margin-left: 40px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.DS18 {
    border: 1px solid #B3E7E7;
    margin-top: 20px;
    margin-left: 20px;
    height: 140px;
    width: 250px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text3 {
    display: flex;
    margin-left: 50px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.DCWaterPump {
    border: 1px solid #B3E7E7;
    margin-top: 180px;
    margin-left: -800px;
    height: 300px;
    width: 370px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text4 {
    display: flex;
    margin-left: 110px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.watertap {
    background-image: url("watertap.gif");
    background-size: cover;
    margin-top: 10px;
    height: 270px;
    width: 370px;
}

.RainSensor {
    border: 1px solid #B3E7E7;
    margin-top: 340px;
    margin-left: 20px;
    height: 140px;
    width: 180px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text5 {
    display: flex;
    margin-left: 35px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.PIRSensor {
    border: 1px solid #B3E7E7;
    margin-top: 340px;
    margin-left: 20px;
    height: 140px;
    width: 200px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text6 {
    display: flex;
    margin-left: 35px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.LCD {
    border: 1px solid #B3E7E7;
    margin-top: 180px;
    margin-left: -400px;
    height: 140px;
    width: 400px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text7 {
    display: flex;
    margin-left: 150px;
    height: 0px;
    width: 0px;
    font-size: 20px;
    color: grey;
}

.WeatherApp {
    border: 1px solid #B3E7E7;
    margin-top: 20px;
    margin-left: 20px;
    height: 460px;
    width: 300px;
    background-color: #F8FEFE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.weather-app {
    background-color: #F8FEFE;
    max-width: 300px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 15px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #F8FEFE;
}

input[type="text"] {
    flex: 1;
    padding-left: 20px;
    border: 2px solid #B3E7E7;
    border-radius: 15px;
    font-size: 1rem;
    height: 3.5rem;
}

.city-input {
    background-color: #F8FEFE;
}

.search-btn {
    background-color: #F8FEFE;
    border: none;
    padding: 1px;
    border-radius: 15px;
    cursor: pointer;
    color: grey;
    margin-left: 10px;
    transition: backgroung-color 0.3s ease;
}

.material-icons {
    background-color: #F8FEFE;
}

.search-btn:hover {
    background-color: #F8FEFE;
}

.city-date-section {
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F8FEFE;
    gap: 1px;
}

.city-date-section .city {
    font-size: 2rem;
    opacity: 0.9;
    background-color: #F8FEFE;
    color: #323232;
}

.city-date-section .date {
    background-color: #F8FEFE;
    padding: 0px 10px;
    border-radius: 15px;
    color: grey;
}

.temperature-info {
    background-color: #F8FEFE;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: grey;
}

.temperature-info .temp {
    background-color: #F8FEFE;
    font-size: 1rem;
}

.temperature-info .description {
    background-color: #F8FEFE;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.temperature-info .description i {
    background-color: #F8FEFE;
    font-size: 1rem;
    opacity: 0.8;
}

.temperature-info .description span {
    background-color: #F8FEFE;
    font-size: 1rem;
}

.additional-info {
    background-color: #F8FEFE;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.wind-info,
.humidity-info,
.visibility-info {
    background-color: #F8FEFE;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 0px 15px;
}

.additional-info .material-icons {
    background-color: #F8FEFE;
    font-size: 1.5rem;
    opacity: 0.8;
}

.wind-info div,
.humidity-info div,
.visibility-info div {
    background-color: #F8FEFE;
    text-align: center;
    color: #323232;
}

.wind-label {
    background-color: #F8FEFE;
    color: grey;
}

.humidity-label {
    background-color: #F8FEFE;
    color: grey;
}

.visibility {
    background-color: #F8FEFE;
    color: grey;
}

.wind-speed {
    background-color: #F8FEFE;
    color: grey;
}

.humidity {
    background-color: #F8FEFE;
    color: grey;

}

.visibility-distance {
    background-color: #F8FEFE;
    color: grey;
}